.navbar-brand img {
  max-width: 30vw; }
  .navbar-brand img:active {
    transform: scale(0.95); }

.bg-main {
  background-color: #2990c7; }

.viewscolor {
  color: #f0f0f0; }
  .viewscolor:hover {
    transform: scale(1.15);
    transition: transform 0.7s;
    color: #f0f0f0; }

ul li {
  padding: 0 15px; }
  ul li a {
    color: #142257;
    font-size: 1.5em;
    text-align: center; }

.navbar-toggler {
  border-color: #142257; }

.navbar-toggler-icon {
  color: #142257; }




  body{
    background-color: rgb(30, 30, 97);
  }

  .divAlert {
    color: white;
  }

  h1 {
    margin-top: 30px;
    text-align: center;
    color: white;
    font-size: 3em;
  }

  .divProductos{
    padding: 100px;
    background-color: #7086d4;
    color: #142257;
  }

  .product-conteiner{
    background-color: pink;
  }


